$fuente: 'Play', sans-serif;
$color_containers: #494747;
$color_fuente: #D0D0D0;
$color_textos: #A09898;
$opacidad_containers: 80%;
$border_containers: 29px;

@import '@medias';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: $fuente;
}

html body{
    background-image: url(../Img/black-g950d18492_1280.png);
    opacity: 1;
    background-size: cover;
    overflow-x: hidden;
    
    
}

header{
    text-align: center;
    color: $color_fuente;
    font-size: 20px;
    line-height: 23px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 700;
}

.AboutMe{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $color_containers;
    border-radius: $border_containers;
    opacity: $opacidad_containers;
    margin: 10px auto;

}
.Texto_AboutMe{
    text-align: center;
    color: $color_textos;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    h1{
        color: $color_fuente;
        font-weight: 700;
    }
    h2{
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        margin-bottom: 50px;
    }
    
}
.img{
    border-radius: 22px;
    margin-top: 5px;
}

.Servicios{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    margin-top: 20px;
    background-color: $color_containers;
    border-radius: $border_containers;
    opacity: $opacidad_containers;
    margin: 10px auto;
    h2{
        color: $color_fuente;
        font-weight: 700;
    }
    p{
        color: $color_textos;
    }
}
.proyectos{
    width: 100%;
    background-color: $color_containers;
    color: $color_fuente;
    margin: 10px auto;
    border-radius: $border_containers;
    opacity: $opacidad_containers;
    
    h1{
        text-align: center;
        padding: 20px;
        font-family: $fuente;
        font-size: 20px;
        font-weight: 700;
    }
}
footer{
    width: 100%;
    margin: 0%;
}


@mixin contacto ($dis, $box-sz, $w, $fnt-w, $pd, $mg) {
    display:  $dis;
    box-sizing: $box-sz;
    width: $w;
    font-weight: $fnt-w;
    padding: $pd;
    margin: $mg;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    padding: 20px;
    border: 0;
    
    
    .nombre{
        @include contacto(inline-block, border-box , 70%, 600, 12px 20px, 8px 0 );
        border: 1px solid rgb(82, 79, 79);
        border-radius: 4px;
        text-align: center;
        box-shadow: #000000 5px 5px 7px;
    }
    .apellido{
        @include contacto(inline-block, border-box , 70%, 600, 12px 20px, 8px 0 );
        border: 1px solid rgb(82, 79, 79);
        border-radius: 4px;
        text-align: center;
        box-shadow: #000000 5px 5px 7px;
    }
    .email{
        @include contacto(inline-block, border-box , 70%, 600, 12px 20px, 8px 0 );
        border: 1px solid rgb(82, 79, 79);
        border-radius: 4px;
        text-align: center;
        box-shadow: #000000 5px 5px 7px;
    }
    
    textarea {
        @include contacto(inline-block, border-box , 70%, 600, 12px 20px, 8px 0 );
        border: 1px solid rgb(82, 79, 79);
        border-radius: 4px;
        text-align: center;
        box-shadow: #000000 5px 5px 7px;
    }
    
    @mixin Confirmacion ($cl, $bd-style, $cur, $back-c, $wd, $pd, $mrg, $bd-r, $fnt-w) {
        color: $cl;
        border-style: $bd-style;
        cursor: $cur;
        background-color: $back-c;
        width: $wd;
        padding: $pd;
        margin: $mrg;
        border-radius: $bd-r;
        font-weight: $fnt-w;
    }
    .mandar{
        @include Confirmacion(rgb(255, 255, 255), none, pointer, #212529, 30%, 15px 20px,8px 0,4px,600)
    }
    
    legend {
        display: block;
        width: 100%;
        color: $color_fuente;
        text-align: center;
        font-size: 20px;
    }
    textarea {
        outline: none;
    }
}
